* {
	box-sizing: border-box;
}


body {    
    margin: 0;
    display: flex;
    flex-direction: column;
}


/*Font Layout*/
* {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 16px;
}



h1 {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size: 30px;
}
 
h2 {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight:600;
	color: #696969;
}

p {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 25px;
	color: #808080;
}


li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:visited { 
	text-decoration: none; 
	color: #262626; 
}
a:hover { 
	text-decoration: none; 
	color: #00FF7F; 
}
a:hover, 
a:active { 
	text-decoration: none; 
	color: #D8BFD8;
} 


/*Layout structure*/

.wrap {
	width: 100%;
}


.nav-bar {
	margin-bottom: 30px;
	background-color: #f9f9f9;


}

.heading {
	margin-bottom: 40px;
}

/*Flexbox*/

.nav-bar {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
}

.heading {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.portfolio {
	display: flex;
	flex-direction: column;
}

.portfolio-heading,
.col {
	align-self: center;
}







/*Page Elements*/

.name {
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 3em;
}

.nav-btns {
	display: flex;
	flex-direction: column;
	padding-left: 0;
}

.nav-btns li { 
    padding: 20px 0;
    align-self: center;
 }


.nav-btns a {
	text-align: center;
	padding: 20px;
} 

.profile-pic {
	max-width: 400px;
	max-height: 355px;
	border-radius: 7px;
	align-self: center;
}

.intro {
	text-align: center;
	margin-top: 20px;
}


/*Sections Colums*/


.portfolio-heading {
	text-align: center;
	padding-bottom: 20px;

}

/*marketing*/

.marketing {
	margin-bottom: 70px;
}

.portfolio-1 {
	width: 100%;
}


.marketing h2,
p {
	text-align: center;
}

/*search*/

.portfolio-2 {
	width: 100%;
}

.search {
	margin-bottom: 70px;
}

.search h2,
p {
	text-align: center;
}


/*travel*/

.portfolio-3 {
	width: 100%;
}

.travel {
	margin-bottom: 70px;
}

.travel h2,
p {
	text-align: center;
}


/*map*/

.portfolio-4 {
	width: 100%;
}

.map {
	margin-bottom: 70px;
}

.map h2,
p {
	text-align: center;
}


/*photo*/

.portfolio-5 {
	width: 100%;
}

.photo {
	margin-bottom: 70px;
}

.photo h2,
p {
	text-align: center;
}

/*calculator*/

.portfolio-6 {
	width: 100%;
}

.calculator {
	margin-bottom: 70px;
}

.calculator h2,
p {
	text-align: center;
}


/*FOOTER*/

.footer {
	background-color: #f9f9f9;
}

#message {
	padding-left: 10px;
	padding-right: 10px;
}

.contact h2,
p {
	text-align: center;
}

.footer {
    display: flex;
	flex-direction: column;
}

.footer-name,
.back {
	align-self: center;
}

.footer-bottom {
	border-top: 1px solid #D3D3D3;
	margin-left: 3em;
	margin-right: 3em;
	display: flex;
	flex-direction: column;
}

.secondary-nav {
	display: none;
}



/*Media Queries*/


/*Tablet Screens*/
@media (min-width: 768px) {
		
		.container {
			margin: 0 15px;
		}
		
		.nav-bar {
			align-content: center;
		}

		.nav-btns  {
			text-align: center;
		}

		.heading {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.intro {
			flex: 2;
			order: -1;
			padding-right: 1em;
		}

		.profile-pic {
			flex: 1;
			max-width: 300px;
			height: 250px;
		}
		
		.portfolio-cols {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
		}

		.col {
			flex: 1 50%;
			padding-left: 1em;
			padding-right: 1em;
		}





		.search {
			margin-top: 1em;
		}


		.contact {
			padding-top: 3em;
		}

		.email {
			padding-bottom: 3em;
		}

		#message {
			padding-left: 5em;
			padding-right: 5em;
		}

		.footer-bottom {
			flex-direction: row;
			justify-content: space-between;
        }

        .back {
        	display: none;
        }

        .secondary-nav {
        	display: inline-block;
        	float: right;
        }
		
		.secondary-nav h2 {
			display: inline-block;
			padding-right: 1em;
		}

}


          /*Laptops*/
@media (min-width: 1024px) {
		
		.nav-bar {
			flex-direction: row;
			justify-content: space-between;
		}

		.name {
			margin-left: 2em;
		}
		
		.nav-btns {
			flex-direction: row;
			margin-right: 3em;
		}

		.profile-pic {
			height: 300px;
		}


		
		.col {
			flex: 1 33%;
		}

		.travel,
		.calculator {
			padding-right: 0;
		}

		#message {
			padding-left: 8em;
			padding-right: 8em;
		}

}